---
import ScribbleButton from "../Basics/buttons/ScribbleButton.astro";

import { Image } from "astro:assets";
import Sophia from "../../../img/about/Sophia-godkval.png";
---

<section>
  <ScribbleButton>Click here</ScribbleButton>

  <div>
    <div>
        <h1 class="subheading_scribble">My name is Sophia Khaled</h1>
        <p class="filter">I’m the designer and creator </p>
    </div>
    <Image src={Sophia} alt="Sophia" />
  </div>
</section>
¨
<style>
    img{
        aspect-ratio: 1/1;
        object-position: 0% 50%;
        object-fit: cover;
    }
</style>
