---
import ScribbleButton from "../Basics/buttons/ScribbleButton.astro";
import { Image } from "astro:assets";
import Cat from "../../img/about/cat.png";
import Sophia from "../../img/about/SophiaSkygge.png";
import Princess from "../../img/index/hero_outline.png";
---

<section class="container">
  <div id="toggleButton" class="btn">
    <ScribbleButton href="#" label="Click here" />
  </div>

  <div id="click_1">
    <div>
      <h1 class="subheading_scribble">My name is Sophia Khaled</h1>
      <p class="filter">I'm the designer and creator</p>
    </div>
    <Image src={Sophia} alt="Sophia" class="sophia" />
  </div>

  <div id="click_2" class="hide">
    <img src="/strokes/wings.svg" alt="" class="svg a" />
    <img src="/strokes/col02_scratch.svg" alt="" class="svg b" />
  </div>

  <div id="click_3" class="hide">
    <p class="polaroid note">
      Sophia Khaled is a Copenhagen based fashion brand known for its playful,
      yet sinister aesthetic. The universe is built out of creating duality
      between childhood melancholy and an undertone of darkness.
    </p>
  </div>

  <div id="click_4" class="hide">
    <p>
      Our spirit of the time is about using this duality in our prints and
      patterns as including and developing elements for people in our society.
      To create an outlet that talks to those feeling left alone, comforting
      them and supplying them with a place to belong with no shame of any
      emotions.
    </p>
    <p>
      Sophia Khaled works in a cross field between art and fashion. Through
      craftsmanship, they strive to create an original way of wearing treasures
      with the kind of magic that makes people hold on to them forever.
    </p>
  </div>

  <div class="hide center" id="click_5" >
    <p class="subheading caps">Scroll down now</p>
    <img src="/strokes/Arrow.svg" alt="arrow" class="arrow" />
  </div>

  <div id="click_6">
    <Image src={Princess} alt="Sailor moon princess dress" />
  </div>
  <div id="click_7">
    <h2 class="subheading_scribble">Miav, I'm Yoda</h2>
    <Image src={Cat} alt="Cat" />
  </div>

  <div id="click_8">
    <img src="/illustrations/Krone.svg" alt="" class="svg c" />
  </div>
</section>

<style>
  section {
    display: grid;
    gap: var(--medium);
    align-items: center;
    justify-items: center;
    padding: var(--top_btm) var(--none);
  }

  .container {
    position: relative;
  }

  img.sophia {
    aspect-ratio: 1 / 1.25;
    object-fit: cover;
    max-width: 450px;
  }

  img.svg {
    position: absolute;
    max-width: 300px;
    height: auto;
  }

  img.arrow {
    width: 35px;
    height: auto;
  }

  .a,
  .b {
    left: 14%;
  }

  .a {
    top: 31%;
    z-index: -2;
  }

  .b {
    top: 70%;
  }

  .note {
    background-image: url(../../img/about/GreenNote.png);
    padding: var(--top_btm);
    width: 330px;
    margin: 3rem 0 5rem;
  }

  p {
    width: 330px;
  }

  #click_4 {
    margin: 3rem 0 5rem;
  }

  #click_5 {
    gap: var(--medium);
    margin: 5rem 0 10rem;
  }
  .center{
    display: grid;
    text-align: center;
    justify-items: center;
  }

  #click_6,
  #click_7,
  #click_8 {
    display: none;
  }
  .hide {
    display: none;
  }

  @media (min-width: 630px) {
 #click_2{
  display: none;
 }
  }

  @media (min-width: 960px) {
    img.svg {
      position: relative;
    }

    .a {
      top: 30%;
      left: -1%;
      z-index: -2;
    }

    .b {
      top: 70%;
      left: 1%;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

   .btn {
      margin-top: -12rem;
    }

    #click_1,
    #click_2 {
      display: block;
      grid-area: 1 / 1 / 3 / 2;
    }

    #click_2 {
      display: block;
      margin-top: 3.25rem;
    }

    #click_3 {
      display: block;
      grid-area: 1 / 3 / 3 / 4;
    }

    .note {
      margin: 0;
    }

    #click_4 {
      display: block;
      grid-area: 3 / 2 / 4 / 3;
      margin-top: -9rem;
    }

    #click_5 {
      grid-area: 1 / 2 / 2 / 3;
      margin: 0;
    }

    #click_6 {
      display: block;
      grid-area: 2 / 3 / 4 / 4;
      position: absolute;
    }

    #click_7 {
      display: block;
    }

    #click_8 {
      display: block;
      grid-area: 1 / 3 / 2 / 4;
      position: absolute;
      top: -30%;
      left: -30%;
      rotate: -70deg;
    }
  }
</style>
